h1.mainTitle{
    color: darkslategray;
    font-family: 'Satisfy', cursive;
}
div.encabezado{
    padding-inline-start: 2%;
    padding-top: 1%;
}
div.topIcons{
    padding: 0%;
}
div.bannerImage{
    padding-top: 1%;
}
img.bannerImage{
    align-self: center;
    padding-bottom: 1%;
    width:100%;
}
div.theMenu{
    margin-top: 1%;
    margin-bottom: 1%;
}
div.Menu{
    margin: 1%;
}
button.menuItem{
    color: white;
    font: 100;
}
div.orderDetail{
    margin-top: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
button.CancelOrder{
    color: black;
    background-color: crimson;
    border-color: gray;
}
button.ConfirmOrder{
    color: black;
    background-color: antiquewhite;
    border-color: black;
}
div.contactUs{
    margin:3%;
}